h1{
    color:darkslategray;
    font-style: italic;
    border-color: cadetblue;
    border-width: 10px;
    border-style: outset;
    
    
}

body{
    background-color:lightslategrey;
}

h3{
    
}

div {
    text-align: center;
    
    
    
}

form {
    
    
}